.vs
node_modules
libs
nitro/**/*.tlog
nitro/**/*.obj
nitro/**/*.idb
nitro/**/*.pdb
nitro/**/*.log
nitro/**/*.lib*
nitro/**/*.FileListAbsolute.txt
nitro/**/*.ifc
nitro/**/*.json*
nitro/**/*.exe*
nitro/**/*.ilk
